<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muskan Trading Company</title>
    <link rel="stylesheet" href="/styles.css">

</head>

<body>
    
    <header><%- include('partials/header') %></header>
    
    <main class="content">
        <section class="input-section">
            <h2>Add New Entry</h2>
            <form id="inputForm" action="/api/signup" method="POST">
                <div class="form-group">
                    <label for="millName">Mill Name:</label>
                    <input type="text" id="millName" name="millName" required>
                </div>
                <div class="form-group">
                    <label for="storeName">Store Name:</label>
                    <input type="text" id="storeName" name="storeName" required>
                </div>
                <div class="form-group">
                    <label for="item">Item:</label>
                    <input type="text" id="item" name="item" required>
                </div>
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="number" id="price" name="price" required>
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" required>
                </div>
                <div class="form-group">
                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date" required>
                </div>
                <button type="submit" onclick="addEntry()">Add Entry</button>
            </form>
        </section>

        <aside class="ledger">
            <h2>Registors</h2>
            <div class="PR"><a href="api/purchases">1. Purchase Registor</a></div>
            <div class="SR"><a href="SR.html">2. Sauda Registor</a></div>
        </aside>
    </main>

    <div><%- include('partials/footer') %></div>

    
    <script src="script.js"></script>
    <!-- You can add additional scripts here -->


</body>

</html>