<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muskan Trading Company</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <div class="head">
        <h1 style="font-size: 50px;">Muskan Trading Company</h1>
        <img src="IMAGE/GANESHLOGO.png">
        <div class="datetime" id="dateTime" style="padding-left: 30%;margin: auto;font-size: 25px;color: black;">
        </div>
    </div>
    <h1 style="margin: auto; margin-left: 40% ; font-size:  50px;">Sauda Registor</h1>
    <a href="Home.html">Go back to Home </a>
</body>
</html>